input[type="text"],
input[type="date"],
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 6px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  top: 2px;
  bottom: 2px;
}

#title {
  font-size: 15px;
}
#description {
  font-size: 15px;
  height: 100px;
}
label {
  color: black;
  top: 2px;
  bottom: 2px;
}

h1 {
  color: black;
}
button {
  background: #c8d8e4;
  cursor: pointer;
}
button:hover {
  background-color: #a6ccea;
}
.line {
  display: inline;
  margin-top: 5px;
}
