.allTicket-top {
  display: flex;
}

.ticket-create {
  background-color: rgb(116, 199, 232);
  border: none;
  margin-left: 22rem;
  cursor: pointer;
  height: 35px;
  text-align: center;
  padding-top: 2px;
  display: inline-block;
}

.create button {
  text-decoration: none;
}
::placeholder {
  color: lightgrey;
}
.searchTerm:focus {
  color: #00b4cc;
}

table {
  width: 100%;
  padding-top: 10px;
  padding-left: 230px;
  padding-right: 20px;
}

td,
th {
  border: 1px;
  text-align: left;
}

thead {
  background: #ccdfe3;
}

tbody {
  background: #d8e1e3;
}

.ticket-list {
  margin-top: 10px;
  margin-left: 10rem;
  margin-bottom: 10px;
  color: black;
}

.ticket-detail-link:hover,
.ticket-detele-link:hover {
  color: #00b4cc;
}
