.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
}

.issue-edit {
  height: 32px;
  width: 80px;
  font-size: 18px;
  padding-left: 12px;
  padding-top: 3px;
  margin-left: 80%;
  margin-right: 0;
  margin-top: 5px;
  color: white;
  background-color: rgb(61, 146, 180);
  border: 01px solid rgb(226, 225, 225);
}

form {
  width: 100%;
  max-width: 420px;
  min-height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2px;
}
input[type="text"],
input[type="date"],
select,
textarea,
.issue-display {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 6px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  top: 2px;
  bottom: 2px;
}

.issue-title {
  text-align: center;
}

.edit {
  display: inline-flex;
  height: 32px;
  width: 80px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 3px;
  margin-top: 5px;
  margin-left: 8%;
  margin-right: 0;
  color: white;
  background-color: rgb(61, 146, 180);
  border: 01px solid rgb(226, 225, 225);
}
#description {
  font-size: 15px;
  height: 100px;
}

label {
  color: black;
  top: 2px;
  bottom: 2px;
}

h1 {
  color: black;
}
button {
  background-color: rgb(61, 146, 180);
  cursor: pointer;
}
button:hover {
  background-color: #a6ccea;
}
.line {
  display: inline;
  margin-top: 5px;
}
.members-chip {
  line-height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 25px;
  background-color: white;
  color: #888;
}

.deletebtn {
  padding-left: 5px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.deletebtn:hover {
  color: #000;
}

.issue {
  width: 30%;
  display: flex;
  margin-top: 1rem;
}

.issue-label {
  display: inline-flex;
  margin-top: 0rem;
}

.issue-create {
  margin-left: 65%;
  border: none;
  cursor: pointer;
  height: 35px;
  text-align: center;
  padding-top: 6px;
  display: inline-block;
  color: azure;
  font-size: 16px;
  background-color: rgb(61, 146, 180);
}

.create button {
  text-decoration: none;
}
::placeholder {
  color: lightgrey;
}

.load {
  margin-left: 20rem;
}

.reply-card {
  min-height: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ccc;
}
.reply-card-content {
  position: relative;
  color: #000;
  font-size: 16px;
}

.reply-card-title {
  color: black;
  text-decoration-line: underline;
}
